@import "../../../../variables.scss";
.forgot-password {
  .loader-container {
    display: flex;
    justify-content: center;
  }
  .response-message {
    margin: $spacingSmaller;
    border: 2px solid;
    color: $forgetPassword;
  }
  .formRow {
    margin: 2rem;
  }
  .user-message {
    display: flex;
    text-align: center;
    font-size: $textLarger;
    margin: $spacingSmall;
    color: $white;
  }
  .display-flex {
    display: block;
    margin: 2rem;
  }
  .reset-button {
    font-size: $textSmaller;
    background: linear-gradient(310deg, #6727cf, #f064c1);
    margin-right: 2rem;
  }

  @media (min-width: 481px) {
    .display-flex {
      display: flex;
    }
    .reset-button {
      font-size: $textMedium;
    }
  }
}
