$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$light: white;
$dark: rgba(0, 0, 0, 1);
$purple: #d375ff;
$forgetPassword: #e26d6d;
$green: rgba(0, 255, 253);
$greenLight: #3bc1bf;
$themeColor: #072031;
$searchTheme: #114161;
$cancleButton: #c3daec;
$applyButton: #2177b3;
$buttonColor: #44c6bc;
$whiteColor: #fff;
$silverText: #878787;
$transperentBlack: #0c060061;
$alertMessage: #f8d7da;
$formBackground: #001928;
$selectPlaceholder: #64686a;
$selectColor: #ffffffcc;
$CheckboxBorder: #1c5c89;
$Checked: #a3c1d8;
$Active: #04121e;
$CancleButtonColor: #b9daf6;
$bodyFontFamily: "halcom", sans-serif;
$headingFontFamily: "erbaum", Open Sans, sans-serif;
$letterSpacingWidest: 0.1rem;
$letterSpacingWider: 0.5rem;
$letterSpacingWide: 0.4rem;
$radius: 100px;
$bold: bold;
$normal: normal;
$italic: italic;
$textColorDark: rgba(0, 0, 0, 0.8);
$textColorLight: white;
$titleColorDark: black;
$titleColorLight: white;
$spacingLargest: 16rem;
$spacingLarger: 8rem;
$spacingLarge: 6rem;
$spacingMedium: 2.4rem;
$spacingSmall: 1.6rem;
$spacingSmaller: 1rem;
$spacingSmallest: 0.5rem;
$textLargest: 26px;
$textLarger: 20px;
$textLarge: 18px;
$textMedium: 16px;
$textSmall: 14px;
$textSmaller: 12px;
$textSmallest: 10px;
$titleLargest: 70px;
$titleLarger: 60px;
$titleLarge: 40px;
$titleMedium: 30px;
$titleSmall: 26px;
$titleSmaller: 22px;
$titleSmallest: 16px;
$maxWidth: 1200px;
